:root{
    --primary:#243746;
    --secondary: #1C1F2A;
    --ligth : #ffffff;
    --grey: #efefef;
    --alert:  indianred;
    --verde1: #6ABF4B;
    --verde2: #009845;
    --calido1: #E1251B;
    --calido2: #FF7F30;
    --frio1: #AE95DA;
    --frio2: #60269E;
    --topografia: #243746;
    --fondo: #1C1F2A;

}

.main-slider .image-layer {
    opacity: 0.3;
    background-color: var(--fondo) !important;
}

.main-slider .swiper-slide {
    background-color: var(--fondo) !important;
}

.real-world__counter-content {
    width: 200px !important;
}

.main-menu .main-menu__list li ul{
    min-width: 300px !important;
}

.case-one__img:before {
    background-color: #FFFFFF !important;
    color: #000 !important
}

.case-one__text:before{
    color: #0b0b0b !important;
}

.we-improve__funded-content span {
    font-size: 20px !important;
    font-weight: 700;
    color: var(--verde2) !important;
}